# PlatformIO
.pio
.clang_complete
.gcc-flags.json
bin
libdeps

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/

# Database
backend/db.sqlite3

# Logs
*.log
.system_generated/

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Biometric images
backend/media/biometrics/

# Internship report
rapport_stage.tex
figures/
screenshots/
backend.rar
